@tailwind base;
@tailwind components;
@tailwind utilities;

html,
* {
	scroll-snap-type: y mandatory;
	/* scroll-behavior: smooth; */
}

.homeBanner {
	background-image: url("~/public/peakyBlindersBanner.jpg");
}

.homeBannerCasing {
	display: block;
	background-image: linear-gradient(
		to left,
		rgba(255, 255, 255, 0),
		rgb(0, 0, 0)
	);
	content: "";
	position: relative;
	height: 780px;
}

.homePage {
	scroll-snap-align: start;
	transition: cubic-bezier(0.075, 0.82, 0.165, 1);
}

.homeMenu {
	scroll-snap-align: start;
}
